@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');








html {
  font-size: 18px;
}




body {
  background-color: #272727;
  color: white;
  font-family: "Comfortaa", sans-serif;
  margin: 0px;
  /* забираємо стандартні відступи в тега body */
}




body.light-theme {
  background-color: #e6e6e6;
  color: rgb(24, 24, 24);
}




header{
  background: rgb(232, 198, 47);
  height: 100px;
}




header.fixed {
  position: fixed;
  /* Фіксоване позиціонування */
  top: 0;
  /* Закріплено зверху */
  width: 100%;
  /* Ширина за всю ширину вікна */
  max-width: 100%;
  z-index: 100;
}
.nav-link{
  font-size: 30px;
  color: rgb(45, 45, 45);
}




.nav-link:hover{
  color: rgb(232, 47, 47);
  text-shadow: 2px 2px 5px rgb(18, 18, 18);
  transition: 1s;
}




.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
 
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
 
  .icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
  }
 
  .icon-cart path {
    fill: rgb(232, 198, 47);
    transition: .2s linear;
  }
 
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
 
  .btn-cart:hover > .icon-cart path {
    fill: rgb(232, 47, 47);
  }
 
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
 
  .quantity {
    display: none;
  }
 




  .banner {
    width: 100%;
    height: 90vh;
    background: url('/img/depositphotos_270635054-stock-photo-collection-of-valuable-ancient-books.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}








.banner h1 {
    font-size: 3rem;
    text-align: center;
}




.container_products {
  background-color: rgb(45, 45, 45) ;
}
.container_products h3{
  background-color: rgb(232, 198, 47) ;
  margin: 0;
}  
.all-carts-1{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}


.row{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.carousel-own-class{
  height: 600px;
  margin-bottom: 30px;
}




.carousel-own-class img{
  height: 600px;
}
.carousel-caption{
  margin-bottom: 150px;




text-shadow: 1px 1px 5px black;
}




.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  color: rgb(232, 198, 47);
  background-color: #272727;
 border: 2px solid rgb(232, 198, 47);
}








.card img{
  width: 150px;
}


.num1 {
  font-size: 40px;
  text-align: center;
  border-radius: 40px;
  padding: 5px;
}


.all-carts-1 {
  padding: 30px 0;
}

